body {
  font-family: "Poppins", sans-serif;
  margin: 0%;
}
h1 {
  font-size: 50px;
}
#self-des {
  color: tomato;
}
.spanCol {
  color: orange;
}
section {
  display: flex;
  padding-left: 2%;
  margin-bottom: 100px;
}
.half-width {
  width: 50%;
}
.half-width img {
  width: 70%;
  padding-left: 10%;
}
.link-button {
  text-decoration: none;
  padding: 10px 40px;
  background-image: linear-gradient(orange, tomato);
  border-radius: 5%;
  color: white;
  font-weight: 700;
}
.top-banner {
}
